<div class="notification" ng-show="users.notification">
  <p class="user-updated">{{ users.notification }}</p>
</div>

<div class="main-container add-users container-fluid">
  <h2 class="title">Add users</h2>

  <div class="row">
    <div class="col-md-3 form-group">
      <label for="first-name">First Name</label>
      <input class="form-control" type="text" id="first-name" required="true" ng-model="firstName">
    </div>

    <div class="col-md-3 form-group">
      <label for="last-name">Last Name</label>
      <input class="form-control" type="text" id="last-name" required="true" ng-model="lastName">
    </div>

    <div class="col-md-3 form-group">
      <label for="avatar">Avatar</label>
      <input class="btn btn-sm" type="file" id="avatar" multiple="false" accept="image/*"
        ng-model="avatar" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)">
    </div>

    <div class="col-md-3 form-group">
        <label>Add</label>
        <br>
        <button
          class="btn btn-default btn-sm"
          type="submit"
          ng-click="users.addUser(firstName, lastName, avatar); firstName = ''; lastName = '';"
          ng-disabled="!firstName || !lastName">
          Add User
        </button>
    </div>
  </div>
</div>

<div class="main-container list-users container-fluid">
  <h2 class="title">List Users</h2>

  <table class="table users-table">
    <tr>
      <th class="col-md-1">ID</th>
      <th class="col-md-3">First Name</th>
      <th class="col-md-3">Last Name</th>
      <th class="col-md-2">Avatar</th>
      <th class="col-md-1">Edit</th>
      <th class="col-md-1">Update</th>
      <th class="col-md-1">Delete</th>
    </tr>

    <tr ng-repeat="user in users.users" ng-init="edit = false">
      <td class="col-md-1">
        <div ng-click="edit = true">
          <label class="user-table-data" ng-if="!edit">{{ user.id }}</label>
        </div>
        <input class="form-control" type="text" name="" ng-if="edit" ng-model="user.id">
      </td>

      <td class="col-md-3 capitalize">
        <div ng-click="edit = true">
          <span class="user-table-data" ng-if="!edit">{{ user['first_name'] }}</span>
        </div>
        <input class="form-control" type="text" name="" ng-if="edit" ng-model="user['first_name']">
      </td>

      <td class="col-md-3 capitalize">
        <div ng-click="edit = true">
          <span class="user-table-data" ng-if="!edit">{{ user['last_name'] }}</span>
        </div>
        <input class="form-control" type="text" name="" ng-if="edit" ng-model="user['last_name']">
      </td>

      <td class="col-md-2">
        <div class="image-container" ng-if="user.avatar">
          <img class="user-avatar" ng-src="{{ user.avatar }}" ng-model="user.avatar">
          <div class="overlay" ng-show="edit">
            <button class="btn btn-xs btn-danger" ng-click="users.removeAvatar($index);">
              Remove
            </button>
            <!--<button class="btn btn-xs btn-primary">Change</button>-->
          </div>
        </div>
      </td>

      <td class="col-md-1">
        <button class="list-button btn btn-sm btn-default" ng-click="edit = !edit">Edit</button>
      </td>

      <td class="col-md-1">
        <button
          class="list-button btn btn-sm btn-primary"
          ng-click="users.updateUser(user.id, user['first_name'], user['last_name'], user.avatar, $index)">
          Update
        </button>
      </td>

      <td class="col-md-1">
        <button class="list-button btn btn-sm btn-danger" ng-click="users.deleteUser(user.id, $index)">
          Delete
        </button>
      </td>
    </tr>
  </table>

</div>